setuptools
serial
django
django-allauth==0.61.1
django-crispy-forms
django-bootstrap5
django-tailwind[reload]
django-cors-headers
django-location-field
django-address
django-phonenumber-field[phonenumbers]
django-rest-framework
djangorestframework-simplejwt[crypto]
dj-rest-auth==7.0.0
dlib
flet[all]
fletx
flet_cli
flet_desktop
face_recognition
opencv-python-headless
PySide6
folium
psycopg2-binary
mysqlclient
pymongo
fastapi[uvicorn]
pillow
pandas
matplotlib
numpy
streamlit
jupyterlab
fpdf
imutils
geopy

